<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-3">
            <div class="col-md-4 mb-3 mb-md-0">
              <h4 class="text-uppercase mb-3">Tentang Kami</h4>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-text text-muted text-small text-light" href="https://drive.google.com/file/d/1WftikC5778qRD9yewP48e7XyVp3CTfxS/view?usp=sharing" target="_blank">
                  PT. FRESMON PACIFIC PRIMA merupakan perusahaan distributor resmi dari pelumas TOTAL ENERGIES yang sudah dipercaya sejak 1992,
                  dengan pengalaman lebih dari 20 Tahun, kami siap memberikan pelayanan terbaik untuk anda. Jangan ragu untuk menjadikan kami mitra dalam mengatasi
                  masalah pelumas kendaraan industri anda. </a></li>
              </ul>
            </div>
            <!--EMPTY SPACE IN THE MIDDLE OF FOOTER-->
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3"></h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#"></a></li>
                <li><a class="footer-link" href="#"></a></li>
                <li><a class="footer-link" href="#"></a></li>
                <li><a class="footer-link" href="#"></a></li>
              </ul>
            </div>
            <!--EHEHEHEHE-->
            <div class="col-md-4 mb-3 mb-md-0">
              <h4 class="text-uppercase mb-3">Hubungi Kami</h4>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link text-light" href="mailto:pt.fresmon123@gmail.com">Gmail : pt.fresmon123@gmail.com</a></li>  
                <li><a class="footer-link text-light" href="#">WhatsApp : 0821 1234 5678</a></li>
                <li><a class="footer-link text-light" href="tel:+05411">Phone : 0541 123456</a></li>
              </ul>
            </div>
          </div>
            <div class="container py-5">
              <p class="h5 text-center">LOKASI PT.FRESMON PACIFIC PRIMA</p>
              <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.654584646074!2d117.10539951483062!3d-0.5190799354169991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2df67e3f43327cab%3A0xc0478405a7705db5!2sKomplek%20Pergudangan%20Karang%20Asam%20Ulu%20II!5e0!3m2!1sid!2sid!4v1656788178882!5m2!1sid!2sid"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
          <div class="border-top pt-7" style="border-color: #f55106 !important">
              <div class="col-lg-0 text-lg-left">
                <p class="small text-muted mb-0">PT. FRESMON PACIFIC PRIMA - 2022</p>
              </div>
            </div>
          </div>
        </div>
      </footer>