{% extends 'base.html' %}
{% load static %}
<div class="container-fluid pt-5 pb-5 bg-light">
    <div class="container">
        <h2 class="display-3 text center ">Tentang</h2>
        <p class="text-center"> PT. FRESMON PACIFIC PRIMA </p>
        <div class="clearfix pt-5">
            <img src="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqa0NRZldFb2pLMi1tTGZCdEFyUzVoRXZjR1dwQXxBQ3Jtc0ttU0QzQlJRODRXX3ZOZEVTdFlMbnZGRTlkUUFXbzh6RDExTTFWcW5JcGZvaEtZUGRyY0lfcmNHcG5PLU8xYXp0YjhWbGtTajkxUjZEcXpKc3d4X3lvNDg0X2RFeGwtRUYyN2xXU21QWGlOYWFNajFOMA&q=https%3A%2F%2Fimg.freepik.com%2Ffree-vector%2Fabout-us-website-banner-concept-with-thin-line-flat-design_56103-96.jpg%3Fsize%3D626%26ext%3Djpg&v=93lDKPSE3us" class="col md-6 float-md-end mb-3 crop-img" width="300" height="300"/>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum error vel eum dicta iusto. Nemo?
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum error vel eum dicta iusto. Nemo?
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum error vel eum dicta iusto. Nemo?
        </p>
        </div>
    </div>    
</div>